<!DOCTYPE HTML>
<html>
<head>
  <title th:text="${title}"></title>
  <meta http-equiv="Content-Type" 
    content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet">
</head>

<body class="container">
  <h1 class="display-4 mb-4" th:text="${title}"></h1>
  <p th:text="${msg}"></p>
  <form method="post" action="/find">
    <div class="input-group">
      <input type="text" class="form-control me-1"
          name="find_str" th:value="${value}" />
      <span class="input-group-btn">
        <input type="submit" class="btn btn-primary px-4" 
            value="Click" />
      </span>
    </div>
  </form>
  
  <table class="table">
    <thead>
      <tr><th>ID</th><th>Name</th><th>Mail</th></tr>
    </thead>
    <tbody>
      <tr th:each="item : ${data}">
        <td th:text="${item.id}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.email}"></td>
      </tr>
    </tbody>
  </table>

  <h2>Delete User</h2>
  <form action="/delete" method="post">
      <label for="delete_id">ID:</label>
      <input type="text" id="delete_id" name="delete_id" placeholder="Enter User ID to delete" required />
      <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  
</body>

</html>